/* Custom styles for react-datepicker */
.react-datepicker-wrapper input {
    width: 100%;
    padding: 0.625rem 0.75rem;
    /* 10px 12px */
    border: 1px solid #d1d5db;
    /* border-gray-300 */
    border-radius: 0.375rem;
    /* rounded-md */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* shadow-sm */
    font-size: 1rem;
    /* text-base */
}

.react-datepicker-wrapper input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #ef4444;
    /* focus:border-red-500 */
    box-shadow: 0 0 0 1px #ef4444;
    /* focus:ring-red-500 */
}